{% extends "main.html" %} {% block content %}
<div class="w-full h-full grid grid-cols-12 overflow-hidden">
  {% include "restaurent/sidenav.html" with SideNav=SideNav %}
  <div class="col-span-10 p-5 flex flex-col gap-3">
    <div class="h-[5vh] flex justify-between">
      <form action="" class="">
        <input
          required
          type="text"
          name="search"
          id="search"
          placeholder="search"
          class="bg-transparent border-2 border-grey-600 rounded-lg py-0.5 px-2"
        />
        <button
          type="submit"
          class="bg-primary px-2 py-1 text-white rounded-lg"
        >
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </form>

      <div>
        <div
          id="add"
          class="bg-primary text-white px-4 py-1 rounded-lg font-bold cursor-pointer"
        >
          + Add Meal
        </div>
      </div>
    </div>
    <div class="flex flex-col justify-between h-full gap-4">
      <div class="mt-4" id="data">
        <div class="relative overflow-x-auto shadow-md rounded-md">
          <table
            class="w-full text-sm text-left text-gray-500 dark:text-gray-400"
          >
            <thead class="text-xs uppercase bg-primary text-white">
              <tr>
                {% for field in Fields %}
                <th scope="col" class="px-4 py-2">{{field}}</th>
                {% endfor %}
                <th scope="col" class="px-4 py-2"></th>
              </tr>
            </thead>

            <tbody class="data-list text-black">
              {% for data in Data %}
              <tr class="border-b border-gray-600">
                <th class="px-4 py-2">{{forloop.counter}}</th>
                <th scope="row" class="px-4 py-2">{{data.name}}</th>
                <th scope="row" class="px-4 py-2">{{data.category.name}}</th>
                <th scope="row" class="px-4 py-2">{{data.price}}</th>
                <td class="px-4 py-2 flex gap-2">
                  <a
                    onclick="openPopupMeal('{{ data.id }}','{{ data.name }}','{{ data.category.name }}','{{ data.price }}','{{data.ingredients}}','{{data.image}}')"
                    class="bg-primary text-white w-7 h-7 rounded-full flex justify-center items-center cursor-pointer edit-table"
                  >
                    <i class="fa-solid fa-pen-to-square"></i>
                  </a>
                  <a
                    onclick="deleteMeal('{{ data.id }}','{{ data.name }}')"
                    class="bg-red-500 text-white w-7 h-7 rounded-full flex justify-center items-center cursor-pointer delete-meal"
                  >
                    <i class="fa-solid fa-trash"></i>
                  </a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      <!-- Data List Table End -->
      <div class="flex gap-4 justify-center item-center">
        <button
          id="prev"
          onclick="prevPage()"
          class="bg-primary text-white px-4 py-2 rounded-md"
        >
          <i class="fa fa-angle-left"></i>

          Prev
        </button>
        <div id="pagination" class="flex gap-2">page</div>
        <button
          id="next"
          onclick="nextPage()"
          class="bg-primary text-white px-4 py-2 rounded-md"
        >
          Next
          <i class="fa fa-angle-right"></i>
        </button>
      </div>
    </div>
  </div>
  <div
    id="add_container"
    class="fixed top-0 hidden w-full h-full bg-black/50 flex justify-center items-center"
  >
    <div class="bg-white rounded-lg overflow-hidden">
      <div
        class="w-[700px] bg-primary flex justify-between items-center text-white"
      >
        <div class="px-4 py-3 flex items-center gap-3 font-bold">
          <i class="fa-solid fa-boxes-stacked"></i>
          <h1>Meal Details</h1>
        </div>
      </div>
      <div class="">
        <form action="" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="p-4 grid grid-cols-2 gap-3 text-sm">
            <div class="flex flex-col gap-3 overflow-hidden overflow-y-auto">
              <input
                required
                type="text"
                name="name"
                class="bg-gray-100 p-2 rounded-lg focus:outline-none"
                placeholder="Name"
              />
              <input
                type="number"
                name="price"
                class="bg-gray-100 p-2 rounded-lg focus:outline-none"
                required
                placeholder="Price"
              />
              <select
                name="category"
                id="category"
                class="bg-primary text-white p-2 rounded-lg focus:outline-none cursor-pointer"
                required
              >
                <option selected>Select Category</option>
                {% for category in Category %}
                <option
                  value="{{category.name}}"
                  class="bg-white text-black hover:bg-primary hover:text-white"
                >
                  {{category.name}}
                </option>
                {% endfor %}
              </select>

              <input
                type="file"
                id="image"
                class="image"
                name="image"
                accept="image/*"
                required
              />
            </div>
            <div>
              <textarea
                name="ingredients"
                placeholder="Ingredients"
                required
                class="bg-gray-100 p-2 rounded-lg focus:outline-none w-full h-[200px]"
              ></textarea>
              <div
                class="h-[200px] w-[300px] hidden bg-gray-200 relative flex items-center justify-center rounded-lg cursor-pointer"
              >
                <img
                  id="displayImage"
                  class="w-full h-full object-cover rounded-lg"
                  src=""
                />
                <div id="addImageText" class="absolute text-gray-500 text-lg">
                  Add Image
                </div>
              </div>
              <input
                required
                type="file"
                id="fileInput"
                class="hidden"
                name="id_proof"
                accept="image/*"
                disabled
              />
            </div>
          </div>
          <div class="flex justify-end gap-4 bg-gray-200 p-4">
            <div
              onclick="closeAdd()"
              class="border-2 border-primary rounded-lg px-4 py-1 cursor-pointer"
            >
              Cancel
            </div>
            <button
              type="submit"
              class="bg-primary text-white px-4 py-1 rounded-lg"
            >
              Submit
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div
  id="popupMeal"
  class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 hidden"
>
  <div class="bg-white p-6 rounded-lg shadow-lg w-[500px] relative">
    <span
      class="absolute top-2 right-2 text-gray-500 cursor-pointer"
      onclick="closePopupMeal()"
      >&times;</span
    >
    <form method="POST" class="space-y-4" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="grid grid-cols-2 gap-3">
        <div class="flex flex-col gap-3">
          <div>
            <label for="meal" class="block text-sm font-medium text-gray-700"
              >Name:</label
            >
            <input
              type="text"
              id="meal"
              name="meal"
              class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
              required
            />
          </div>
          <div>
            <label for="meal" class="block text-sm font-medium text-gray-700"
              >Price:</label
            >
            <input
              type="number"
              id="price"
              name="price"
              class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
              required
            />
          </div>
          <div>
            <label for="meal" class="block text-sm font-medium text-gray-700"
              >Category:</label
            >
            <select
              name="category"
              id="category"
              class="bg-primary mt-1 text-white p-2 rounded-lg focus:outline-none cursor-pointer w-full text-sm"
              required
            >
              <option selected>Select Category</option>
              {% for category in Category %}
              <option
                value="{{category.name}}"
                class="bg-white text-black hover:bg-primary hover:text-white"
              >
                {{category.name}}
              </option>
              {% endfor %}
            </select>
          </div>
          <div>
            <label for="image" class="block text-sm font-medium text-gray-700"
              >Image:</label
            >
            <input
              type="file"
              id="image"
              class="mt-1"
              name="updatedimage"
              accept="image/*"
              required
            />
          </div>
        </div>
        <div>
          <label
            for="ingredients"
            class="block text-sm font-medium text-gray-700"
            >Ingredients:</label
          >
          <textarea
            name="ingredients"
            id="ingredients"
            placeholder="Ingredients"
            required
            class="mt-1 block w-full border border-gray-300 resize-none rounded-md shadow-sm py-2 px-3 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm h-[200px]"
          ></textarea>
        </div>
      </div>
      <input type="hidden" id="mealId" name="mealId" />
      <button
        type="submit"
        class="w-full bg-primary text-white py-2 px-4 rounded-md hover:bg-blue-600"
      >
        Submit
      </button>
    </form>
  </div>
</div>
<div
  id="delete-meal"
  class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 hidden"
>
  <div class="bg-white p-6 rounded-lg shadow-lg w-80 relative">
    <span
      class="absolute top-2 right-2 text-gray-500 cursor-pointer text-xl"
      onclick="closeDeleteMeal()"
    >
      <i class="fa-solid fa-circle-xmark"></i>
    </span>
    <div class="space-y-4 mt-3">
      <div class="flex justify-between items-center">
        <h1 id="questionDeleteMeal" class="text-center"></h1>
      </div>
    </div>
    <div class="flex justify-end pt-3 text-sm text-white font-bold">
      <a id="deletemeal" class="bg-red-500 px-4 py-2 rounded-lg">Delete</a>
    </div>
  </div>
</div>

<script>
  function openPopupMeal(id, name, category, price, ingredients, image) {
    document.getElementById("meal").value = name;
    document.getElementById("price").value = price;
    document.getElementById("category").value = category;
    document.getElementById("ingredients").value = ingredients;

    document.getElementById("mealId").value = id; // Set the original price in the price input
    document.getElementById("popupMeal").classList.remove("hidden");
  }

  function closePopupMeal() {
    document.getElementById("popupMeal").classList.add("hidden");
  }

  function deleteMeal(id, name) {
    document.getElementById(
      "questionDeleteMeal"
    ).innerHTML = `Do you want to delete the Meal ${name}  ?`;
    document.getElementById(
      "deletemeal"
    ).href = `/restaurent/delete_meal/${id}`;
    document.getElementById("delete-meal").classList.remove("hidden");
  }

  function closeDeleteMeal() {
    document.getElementById("delete-meal").classList.add("hidden");
  }
</script>
{% endblock content %} {% block script %}
<script>
  const displayImage = document.getElementById("displayImage");
  const fileInput = document.getElementById("fileInput");
  const addImageText = document.getElementById("addImageText");

  // Make the img tag clickable to open the file input

  displayImage.onclick = () => {
    fileInput.click();
  };
  addImageText.onclick = () => {
    fileInput.click();
  };

  // Update the img tag with the selected image
  fileInput.onchange = (event) => {
    const file = event.target.files[0];
    if (file) {
      const reader = new FileReader();
      reader.onload = (e) => {
        displayImage.src = e.target.result;
        addImageText.classList.add("hidden");
      };
      reader.readAsDataURL(file);
    }
  };

  // Show "Add Image" text if no image is selected
  displayImage.onload = () => {
    if (!displayImage.src) {
      addImageText.classList.remove("hidden");
    }
  };

  document.getElementById("add").addEventListener("click", function () {
    document.getElementById("add_container").classList.remove("hidden");
  });
  function closeAdd() {
    document.getElementById("add_container").classList.add("hidden");
  }
</script>
{% endblock script %}
