{% extends "main.html" %} {% block content %}
<div class="w-full h-full grid grid-cols-12 overflow-hidden">
  {% include "restaurent/sidenav.html" with SideNav=SideNav %}
  <div class="col-span-10 p-5 flex flex-col gap-3">
    <div class="h-[5vh] flex justify-between">
      <form action="" class="">
        <input
          required
          type="text"
          name="search"
          id="search"
          placeholder="search"
          class="bg-transparent border-2 border-grey-600 rounded-lg py-0.5 px-2"
        />
        <button
          type="submit"
          class="bg-primary px-2 py-1 text-white rounded-lg"
        >
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </form>

      <div>
        {% if user.is_staff %}
        <div
          id="add"
          class="bg-primary text-white px-4 py-1 rounded-lg font-bold cursor-pointer"
        >
          + Add Table
        </div>
        {% endif %}
      </div>
    </div>
    <div class="flex flex-col justify-between h-full gap-4">
      <div class="mt-4" id="data">
        <div class="relative overflow-x-auto shadow-md rounded-md">
          <table
            class="w-full text-sm text-left text-gray-500 dark:text-gray-400"
          >
            <thead class="text-xs uppercase bg-primary text-white">
              <tr>
                {% for field in Fields %}
                <th scope="col" class="px-4 py-2">{{field}}</th>
                {% endfor %}
                <th scope="col" class="px-4 py-2"></th>
              </tr>
            </thead>

            <tbody class="data-list text-black">
              {% for data in Data %}
              <tr class="border-b border-gray-600">
                <th class="px-4 py-2">{{forloop.counter}}</th>
                <th scope="row" class="px-4 py-2">{{data.name}}</th>
                {% if user.is_staff %}
                <td class="px-4 py-2 flex gap-2">
                  <a
                    onclick="openPopupTable('{{ data.id }}','{{ data.name }}')"
                    class="bg-primary text-white w-7 h-7 rounded-full flex justify-center items-center cursor-pointer edit-table"
                  >
                    <i class="fa-solid fa-pen-to-square"></i>
                  </a>
                  <a
                    onclick="deleteTable('{{ data.id }}','{{ data.name }}')"
                    class="bg-red-500 text-white w-7 h-7 rounded-full flex justify-center items-center cursor-pointer delete-table"
                  >
                    <i class="fa-solid fa-trash"></i>
                  </a>
                </td>
                {% endif %}
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      <!-- Data List Table End -->
      <div class="flex gap-4 justify-center item-center">
        <button
          id="prev"
          onclick="prevPage()"
          class="bg-primary text-white px-4 py-2 rounded-md"
        >
          <i class="fa fa-angle-left"></i>

          Prev
        </button>
        <div id="pagination" class="flex gap-2">page</div>
        <button
          id="next"
          onclick="nextPage()"
          class="bg-primary text-white px-4 py-2 rounded-md"
        >
          Next
          <i class="fa fa-angle-right"></i>
        </button>
      </div>
    </div>
  </div>
  <div
    id="add_container"
    class="fixed top-0 hidden w-full h-full bg-black/50 flex justify-center items-center"
  >
    <div class="bg-white rounded-lg overflow-hidden">
      <div
        class="w-[700px] bg-primary flex justify-between items-center text-white"
      >
        <div class="px-4 py-3 flex items-center gap-3 font-bold">
          <i class="fa-solid fa-boxes-stacked"></i>
          <h1>Table Details</h1>
        </div>
      </div>
      <div class="">
        <form action="" method="POST">
          {% csrf_token %}
          <div class="p-4 text-sm">
            <div class="flex flex-col gap-3 overflow-hidden overflow-y-auto">
              <input
                required
                type="text"
                name="name"
                class="bg-gray-100 p-2 rounded-lg focus:outline-none"
                placeholder="Name"
              />
              <select
                name="floor"
                id="floor"
                class="bg-primary text-white p-2 rounded-lg focus:outline-none cursor-pointer"
                required
              >
                <option selected>Select Floor</option>
                {% for floor in Floor %}
                <option
                  value="{{floor.name}}"
                  class="bg-white text-black hover:bg-primary hover:text-white"
                >
                  {{floor.name}}
                </option>
                {% endfor %}
              </select>
            </div>
            <div>
              <div
                class="h-[200px] w-[300px] hidden bg-gray-200 relative flex items-center justify-center rounded-lg cursor-pointer"
              >
                <img
                  id="displayImage"
                  class="w-full h-full object-cover rounded-lg"
                  src=""
                />
                <div id="addImageText" class="absolute text-gray-500 text-lg">
                  Add Image
                </div>
              </div>
              <input
                required
                type="file"
                id="fileInput"
                class="hidden"
                name="id_proof"
                accept="image/*"
                disabled
              />
            </div>
          </div>
          <div class="flex justify-end gap-4 bg-gray-200 p-4">
            <div
              onclick="closeAdd()"
              class="border-2 border-primary rounded-lg px-4 py-1 cursor-pointer"
            >
              Cancel
            </div>
            <button
              type="submit"
              class="bg-primary text-white px-4 py-1 rounded-lg"
            >
              Submit
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div
  id="popupTable"
  class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 hidden"
>
  <div class="bg-white p-6 rounded-lg shadow-lg w-80 relative">
    <span
      class="absolute top-2 right-2 text-gray-500 cursor-pointer"
      onclick="closePopupFloor()"
      >&times;</span
    >
    <form method="POST" class="space-y-4">
      {% csrf_token %}
      <div>
        <label for="table" class="block text-sm font-medium text-gray-700"
          >Table:</label
        >
        <input
          type="text"
          id="table"
          name="table"
          class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
          required
        />
      </div>
      <div>
        <label for="floor" class="block text-sm font-medium text-gray-700"
          >Floor:</label
        >
        <select
          name="floor"
          id="floor"
          class="bg-primary text-white p-2 rounded-lg focus:outline-none cursor-pointer w-full text-sm"
          required
        >
          <option selected>Select Floor</option>
          {% for floor in Floor %}
          <option
            value="{{floor.name}}"
            class="bg-white text-black hover:bg-primary hover:text-white"
          >
            {{floor.name}}
          </option>
          {% endfor %}
        </select>
      </div>

      <input type="hidden" id="tableId" name="tableId" />
      <button
        type="submit"
        class="w-full bg-primary text-white py-2 px-4 rounded-md hover:bg-blue-600"
      >
        Submit
      </button>
    </form>
  </div>
</div>
<div
  id="delete-table"
  class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 hidden"
>
  <div class="bg-white p-6 rounded-lg shadow-lg w-80 relative">
    <span
      class="absolute top-2 right-2 text-gray-500 cursor-pointer text-xl"
      onclick="closeDeleteTable()"
    >
      <i class="fa-solid fa-circle-xmark"></i>
    </span>
    <div class="space-y-4 mt-3">
      <div class="flex justify-between items-center">
        <h1 id="questionDeleteTable" class="text-center"></h1>
      </div>
    </div>
    <div class="flex justify-end pt-3 text-sm text-white font-bold">
      <a id="deletetable" class="bg-red-500 px-4 py-2 rounded-lg">Delete</a>
    </div>
  </div>
</div>
<script>
  function openPopupTable(id, name) {
    document.getElementById("table").value = name;
    document.getElementById("tableId").value = id; // Set the original price in the price input
    document.getElementById("popupTable").classList.remove("hidden");
  }

  function closePopupFloor() {
    document.getElementById("popupTable").classList.add("hidden");
  }

  function deleteTable(id, name) {
    document.getElementById(
      "questionDeleteTable"
    ).innerHTML = `Do you want to delete the Table ${name}  ?`;
    document.getElementById(
      "deletetable"
    ).href = `/restaurent/delete_table/${id}`;
    document.getElementById("delete-table").classList.remove("hidden");
  }

  function closeDeleteTable() {
    document.getElementById("delete-table").classList.add("hidden");
  }
</script>
{% endblock content %} {% block script %}
<script>
  const displayImage = document.getElementById("displayImage");
  const fileInput = document.getElementById("fileInput");
  const addImageText = document.getElementById("addImageText");

  // Make the img tag clickable to open the file
  displayImage.onclick = () => {
    fileInput.click();
  };
  addImageText.onclick = () => {
    fileInput.click();
  };

  // Update the img tag with the selected image
  fileInput.onchange = (event) => {
    const file = event.target.files[0];
    if (file) {
      const reader = new FileReader();
      reader.onload = (e) => {
        displayImage.src = e.target.result;
        addImageText.classList.add("hidden");
      };
      reader.readAsDataURL(file);
    }
  };

  // Show "Add Image" text if no image is selected
  displayImage.onload = () => {
    if (!displayImage.src) {
      addImageText.classList.remove("hidden");
    }
  };

  document.getElementById("add").addEventListener("click", function () {
    document.getElementById("add_container").classList.remove("hidden");
  });
  function closeAdd() {
    document.getElementById("add_container").classList.add("hidden");
  }
</script>
{% endblock script %}
