{% extends "main.html" %} {% block content %}
<div class="w-full h-screen flex justify-center items-center">
  <div
    class="rounded-lg bg-white shadow-xl flex flex-col justify-center items-center sm:p-10 py-10 px-2"
  >
    <div class="flex justify-center items-center text-2xl font-semibold mb-6">
      <h1>Login</h1>
    </div>
    <div class="flex flex-col gap-4">
      <form method="POST">
        {% csrf_token %}
        <div class="flex flex-col gap-5 sm:w-[300px] w-[200px]">
          <input
            required
            type="text"
            placeholder="Username"
            name="username"
            class="bg-gray-100 border-none focus:outline-none md:text-sm text-xs rounded-xl w-full px-2 py-2"
          />
          <div
            class="flex gap-3 items-center bg-gray-100 border-none focus:outline-none md:text-sm text-xs rounded-xl w-full pr-3"
          >
            <input
              required
              id="passwordInput"
              type="password"
              placeholder="Password"
              name="password"
              class="bg-transparent border-none focus:outline-none md:text-sm text-xs rounded-xl w-full px-2 py-2"
            />
            <i
              class="fa-solid fa-eye"
              id="togglePassword"
              onclick="togglePasswordVisibility()"
              style="cursor: pointer"
            ></i>
          </div>

          <button
            type="submit"
            class="p-2 w-full bg-primary text-white font-semibold flex justify-center items-center rounded-xl"
          >
            Login
          </button>
        </div>
        <div class="flex justify-between text-sm w-full mt-4">
          <div>Don't have an account ?</div>
          <a href="/register">
            <div class="text-blue-700 underline underline-offset-4">
              Register
            </div>
          </a>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock content %}
